doctype
html(lang="ko")
    head
        meta(charset="utf-8")
        title 허니스크린
        link(rel="icon", type="image/png", href="#{i}favicon-1x.png", sizes="16x16")
        link(rel="icon", type="image/png", href="#{i}favicon-2x.png", sizes="32x32")
    
    body
        script window.location = "http://krapi.honeyscreen.com/invite/?referrer=ads_facebook_cpc";