///////////////////////////////////////////////////////////////////////////////
// Setup
///////////////////////////////////////////////////////////////////////////////
@import "node_modules/bootstrap/less/variables";
@import "node_modules/bootstrap/less/mixins";

@import "node_modules/bootstrap/less/normalize";

@import "node_modules/bootstrap/less/scaffolding";
@import "node_modules/bootstrap/less/type";
@import "node_modules/bootstrap/less/grid";
@import "node_modules/bootstrap/less/forms";
@import "node_modules/bootstrap/less/buttons";

@import "node_modules/bootstrap/less/component-animations";
@import "node_modules/bootstrap/less/navs";
@import "node_modules/bootstrap/less/navbar";
@import "node_modules/bootstrap/less/responsive-embed";

@import "node_modules/bootstrap/less/utilities";
@import "node_modules/bootstrap/less/responsive-utilities";

@buzzvil-black: #404041;
@buzzvil-black-light: lighten(@buzzvil-black, 10%);
@buzzvil-color: #B50007;

@honey-background: #F5F5F5;
@honey-border-color: #D8D1D1;
@honey-border: 1px solid @honey-border-color;
@honey-color: #FECC25;
@honey-color-light: lighten(@honey-color, 10%);
@honey-link: #FF960D;
@honey-link-alt: #FFEA00;

@link-hover-color: @honey-link;
@link-hover-decoration: none;

@font-family-base: @l10n-font-family;
@font-size-base: 16px;
@line-height-base: 1.5;

@headings-font-weight: 400;
@headings-line-height: @line-height-base;
@headings-color: #5A5961;

@input-border-focus: @honey-color;

@input-color-placeholder: @honey-border-color;

@grid-gutter-width: 60px;

@navbar-height: 60px;
@navbar-margin-bottom: 0;

@navbar-default-link-color: #FFF;
@navbar-default-link-hover-color: @honey-link-alt;
@navbar-default-link-active-color: @honey-link-alt;
@navbar-default-link-active-bg: transparent;
@navbar-default-toggle-hover-bg: @honey-color-light;
@navbar-default-toggle-icon-bar-bg: #FFF;
@navbar-default-toggle-border-color: transparent;

@nav-link-padding: @navbar-padding-horizontal;

@hr-border: @honey-border-color;


///////////////////////////////////////////////////////////////////////////////
// Global
///////////////////////////////////////////////////////////////////////////////
a {
    color: inherit;
    
    .transition(~"color 100ms");
}

address {
    margin: 0;
    
    & > p {
        margin-bottom: 15px;
        
        & > img {
            margin-bottom: 1px;
            vertical-align: middle;
        }
        
        & > a {
            margin: 0 15px 0 5px;
        }
    }
    
    & > .embed-responsive {
        border: @honey-border;
        height: 300px;
    }
}

body {
    position: relative;
    text-rendering: optimizelegibility;
}

img {
    vertical-align: top;
}

.bg-gray {
    background-color: @honey-background;
}

.blip {
    background-color: @honey-color;
    border-radius: @border-radius-base;
    height: 3px;
    width: 30px;
    
    .center-block();
}

.break-force > span {
    display: block;
    
    &:after {
        content: "\00A0";
    }
}

.container-fluid {
    max-width: @container-lg;
}

@media (max-width: @screen-xs-max) {
    .break-maybe > span:after {
        content: " ";
    }
    
    .break-small > span {
        display: block;
    }
}

@media (min-width: @screen-sm-min) {
    .break-maybe > span {
        display: block;
    }
}


///////////////////////////////////////////////////////////////////////////////
// Buttons
///////////////////////////////////////////////////////////////////////////////
.btn-black {
    .button-size(6px; 32px; @font-size-large; @line-height-large; @border-radius-base);
    .button-variant(#FFF; @honey-color; @honey-color);
    .transition(~"background-color 100ms");
}

.btn-frame {
    background-color: transparent;
    border: 3px solid #FFF;
    border-radius: @border-radius-base;
    color: #FFF;
    
    .transition(~"background-color 100ms");
    
    &:hover,
    &:focus,
    &:active {
        background-color: #AAA;
        background-color: rgba(255, 255, 255, 0.30);
        color: #FFF;
    }
}

@media (max-width: @screen-xs-max) {
    .btn-frame-outer {
        display: inline-block;
        padding: 0 (@grid-gutter-width / 2);
        width: 50%;
    }
    
    .btn-frame {
        padding: 10px 0;
        width: 100%;
    }
}

@media (min-width: @screen-sm-min) {
    .btn-frame-outer {
        display: inline-block;
        padding: 0 30px;
    }
    
    .btn-frame {
        font-size: 23px;
        line-height: 23px;
        padding: 15px;
        width: 200px;
    }
}


///////////////////////////////////////////////////////////////////////////////
// Icons
///////////////////////////////////////////////////////////////////////////////
.ic {
    -ms-behavior: url("@{i}backgroundsize.htc");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.ic-logo {
    background-image: data-uri("@{f}lg-honeyscreen.png");
    background-size: 221px 22px;
    height: 60px;
    width: 281px;
}

.ic-social-facebook {
    background-image: data-uri("@{f}ic-social-facebook.png");
    background-size: 20px 23px;
}

.ic-social-twitter {
    background-image: data-uri("@{f}ic-social-twitter.png");
    background-size: 20px 23px;
}

.ic-social-blog {
    background-image: data-uri("@{f}ic-social-blog.png");
    background-size: 20px 23px;
}


///////////////////////////////////////////////////////////////////////////////
// Nav: Head
///////////////////////////////////////////////////////////////////////////////
.navbar {
    border: none;
}

.navbar-text > a {
    .transition(~"opacity 100ms");
    
    &:hover,
    &:focus {
        .opacity(0.70);
    }
}

@media (max-width: @screen-xs-max) {
    .navbar {
        background-color: @honey-color;
        
        &:not(.navbar-noshadow) {
            .box-shadow(0 0 3px @honey-border-color);
        }
        
        & > div {
            padding: 0 9px 0 20px;
        }
    }
    
    .navbar-dark {
        background-color: @buzzvil-black;
        
        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background-color: @buzzvil-black-light;
        }
    }
    
    .navbar-nav {
        float: left;
    }
    
    .navbar-text {
        float: right;
        margin-top: 12px;
        width: 44px;
        
        > a {
            height: 44px;
            width: 44px;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .navbar {
        background-color: transparent;
        position: absolute;
        width: 100%;
    }
    
    .navbar-nav > li > a {
        padding: 18px 10px;
    }
    
    .navbar-text {
        margin: 0 -5px 0 5px;
        
        > a {
            height: 60px;
            width: 30px;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Nav: Foot
///////////////////////////////////////////////////////////////////////////////
footer {
    background-color: #999;
    color: #FFF;
    font-size: @font-size-small;
    text-align: center;
}

footer > nav > ul {
    margin: 0;
    padding: 0;
    
    > li {
        display: inline-block;
        margin: 19px 15px 20px 15px;
        
        &.first-child {
            margin-left: 0;
        }
        
        &.last-child {
            margin-right: 0;
        }
        
        > a:hover,
        > a:focus {
            color: @honey-link-alt;
        }
    }
}

@media (max-width: @screen-xs-max) {
    footer > nav > ul.last-child {
        margin-top: -20px;
    }
}

@media (min-width: @screen-sm-min) {
    footer > nav > ul {
        &.first-child {
            float: left;
        }
        
        &.last-child {
            float: right;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Index
///////////////////////////////////////////////////////////////////////////////
#index-intro-outer {
    background-image: url("@{i}index/bg-head.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    color: #FFF;
}

#index-outro-outer {
    background-image: url("@{i}index/bg-foot.jpg");
    background-position: center;
    background-size: cover;
    color: #FFF;
}

#index-outro {
    text-align: center;
}

@media (max-width: @screen-xs-max) {
    #index-intro {
        margin: 132px 0 30px 0;
        text-align: center;
        
        > a + a {
            display: block;
            margin: 20px 15px 0 15px;
        }
        
        > h1 {
            letter-spacing: -4px;
            margin: 0;
        }
        
        > p {
            font-size: @font-size-large;
            letter-spacing: -2px;
            margin: 15px 0 30px 0;
        }
    }
    
    #index-video {
        padding: 0;
    }
    
    #index-outro {
        padding-bottom: 130px;
        
        > h2 {
            border-bottom: 2px solid @honey-color;
            display: inline-block;
            letter-spacing: -4px;
            margin: 30px 0 20px 0;
            padding-bottom: 20px;
        }
        
        > p {
            font-size: @font-size-large;
            letter-spacing: -2px;
            line-height: 35px;
            margin: 0;
        }
    }
}

@media (min-width: @screen-sm-min) {
    #index-intro {
        margin: 220px 0 160px 0;
        
        > a + a {
            margin-left: 60px;
        }
        
        > h1 {
            font-size: 55px;
            letter-spacing: -4px;
            margin: 0;
        }
        
        > p {
            font-size: 30px;
            letter-spacing: -2px;
            margin: 40px 0 60px 0;
        }
    }
    
    #index-video-outer {
        padding: 60px 0;
    }
    
    #index-outro {
        padding-bottom: 220px;
        
        > h2 {
            border-bottom: 3px solid @honey-color;
            display: inline-block;
            font-size: 50px;
            letter-spacing: -4px;
            margin: 160px 0 40px 0;
            padding-bottom: 40px;
        }
        
        > p {
            font-size: 35px;
            letter-spacing: -2px;
            line-height: 60px;
            margin: 0;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Support
///////////////////////////////////////////////////////////////////////////////
#support-search {
    .border-bottom-radius(0);
    .box-shadow(none);
    .input-size(60px; 0; 20px; @font-size-large; @line-height-large; 0);
    .transition(~"border-color 100ms");
}

#support-buttons {
    border-bottom: @honey-border;
    padding: 20px 10px 0 10px;
    text-align: center;
    
    > div {
        padding: 0 10px;
    }
    
    > div > a {
        display: block;
        margin-bottom: 20px;
        
        &:hover > div,
        &:focus > div {
            background-color: @honey-color-light;
        }
        
        > div {
            background-color: @honey-color;
            border-radius: @border-radius-base;
            margin-bottom: 5px;
            padding: 10px 0;
            width: 100%;
            
            .transition(~"background-color 100ms");
        }
    }
}

#support-faqs {
    > a {
        border-top: 1px solid @honey-background;
        cursor: pointer;
        display: block;
        padding: 20px;
        
        &:first-child,
        &.first-child {
            border: none;
        }
    }
    
    > div {
        overflow: hidden;
        
        > p {
            margin: 20px;
        }
    }
}

#support-contact {
    border-top: @honey-border;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: @screen-xs-max) {
    #support-inner {
        padding: 0;
        
        > h1,
        > p {
            margin: 20px;
            text-align: center;
        }
    }
    
    #support-search {
        border: none;
        border-top: @honey-border;
    }
    
    #support-buttons {
        border-bottom: @honey-border;
        border-top: @honey-border;
        font-size: @font-size-small;
    }
    
    #support-contact {
        border-top: @honey-border;
    }
}

@media (min-width: @screen-sm-min) {
    #support-outer {
        -ms-behavior: url("@{i}backgroundsize.htc");
        background-image: url("@{i}support/bg-head.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        // TODO background-size: 100%;
        padding: 90px 0 30px 0;
    }
    
    #support-inner {
        > h1 {
            border-right: @honey-border;
            border-right-color: rgba(255, 255, 255, 0.30);
            color: #FFF;
            display: inline-block;
            font-size: 48px;
            line-height: 48px;
            margin: 0 30px 30px 20px;
            padding-right: 30px;
        }
        
        > p {
            color: #FFF;
            display: inline-block;
        }
    }
    
    #support-search {
        border-color: @honey-border;
        
        .border-top-radius(@border-radius-base);
    }
    
    #support-buttons,
    #support-faqs {
        background-color: #FFF;
        border-left: @honey-border;
        border-right: @honey-border;
    }
    
    #support-contact {
        border: @honey-border;
        
        .border-bottom-radius(@border-radius-base);
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Advertise
///////////////////////////////////////////////////////////////////////////////
#advertise-intro {
    text-align: center;
}

#advertise-benefits-list > div > div {
    display: table-cell;
    vertical-align: middle;
}

#advertise-cpm {
    text-align: center;
    
    & img {
        .img-responsive(inline-block);
    }
}

@media (min-width: @screen-sm-min) {
    #advertise-intro-outer {
        -ms-behavior: url("@{i}backgroundsize.htc");
        background-image: url("@{i}advertise/bg-head.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        padding-top: 210px;
    }
    
    #advertise-intro {
        > h2 {
            color: #FFF;
            font-size: 35px;
            margin: 30px 0 0 0;
        }
        
        > h1 {
            color: #FFF;
            font-size: 65px;
            margin: 15px 0 60px 0;
        }
    }
    
    #advertise-benefits,
    #advertise-cpm,
    #advertise-cpa,
    #advertise-partners,
    #advertise-contact {
        & > .blip {
            margin-top: 60px;
        }
        
        & > h1 {
            color: @honey-color;
            font-size: 55px;
            margin: 15px 0 45px 0;
            text-align: center;
        }
    }
    
    #advertise-benefits {
        & h2 {
            font-size: 35px;
            margin: 0;
        }
        
        & h3 {
            font-size: @font-size-base;
            margin: 0;
        }
    }
    
    #advertise-benefits-frame {
        display: inline-block;
        width: 29%;
    }
    
    #advertise-benefits-list {
        display: inline-block;
        vertical-align: top;
        width: 71%;
        
        & img {
            margin: 15px 15px 30px 45px;
        }
    }
    
    #advertise-cpm {
        & > h2 {
            font-size: 35px;
            margin: 0 0 60px 0;
        }
        
        & h3 {
            color: @honey-color;
            font-size: 35px;
            margin: 30px 0 60px 0;
        }
    }
    
    #advertise-cpa-outer {
        -ms-behavior: url("@{i}backgroundsize.htc");
        background-image: url("@{I}advertise/bg-mid.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 755px;
    }
    
    #advertise-cpa {
        text-align: center;
        
        > h2 {
            color: #FFF;
            font-size: 35px;
            margin: 0;
        }
        
        > h3 {
            color: #FFF;
            font-size: 25px;
            margin: 0;
        }
    }
    
    #advertise-partners {
        & > h2 {
            text-align: center;
            font-size: 35px;
            margin: 0 0 60px 0;
        }
        
        & img {
            margin-bottom: 60px;
        }
    }
    
    #advertise-contact {
        margin-bottom: 60px;
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: About
///////////////////////////////////////////////////////////////////////////////
#about-intro {
    text-align: center;
    
    > h2 {
        color: #FFF;
        text-transform: uppercase;
    }
}

#about-main {
    > .blip {
        background-color: @buzzvil-color;
    }
    
    > h3 {
        color: @buzzvil-color;
        text-align: center;
    }
}

@media (max-width: @screen-xs-max) {
    #about-intro {
        background-color: @buzzvil-black;
        border-top: 1px solid #FFF;
        padding: 30px;
        
        & > h2 {
            font-size: @font-size-large;
            margin: 30px 0;
        }
    }
    
    #about-main {
        padding: 20px;
        
        > .blip {
            margin-bottom: 10px;
        }
        
        > h3 {
            font-size: @font-size-large;
            margin: 0;
        }
        
        & > address > h4 {
            border-top: @honey-border;
            margin: 20px -20px 10px -20px;
            padding: 20px 20px 0 20px;
        }
    }
}

@media (min-width: @screen-sm-min) {
    #about-intro-outer {
        -ms-behavior: url("@{i}backgroundsize.htc");
        background-image: url("@{i}about/bg-head.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        padding-top: 180px;
    }
    
    #about-intro > h2 {
        font-size: 36px;
        margin: 60px 0;
    }
    
    #about-main {
        padding-top: 60px;
        
        & > h3,
        & > address > h4 {
            font-size: 30px;
            margin: 30px 0 0 0;
        }
        
        & > address > .embed-responsive {
            margin-bottom: 60px;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Other
///////////////////////////////////////////////////////////////////////////////
#other-text {
    padding: 20px;
    
    > :first-child {
        margin-top: 0;
    }
    
    > :last-child {
        margin-bottom: 0;
    }
    
    .row {
        border-left: @honey-border;
        border-top: @honey-border;
        
        > div {
            border-bottom: @honey-border;
            border-right: @honey-border;
            padding: 10px;
            text-align: center;
        }
    }
}

@media (max-width: @screen-xs-max) {
    #other-inner {
        padding: 0;
        
        > h1 {
            margin: 30px 0 0 0;
            text-align: center;
        }
    }
}

@media (min-width: @screen-sm-min) {
    #other-outer {
        -ms-behavior: url("@{i}backgroundsize.htc");
        background-image: url("@{i}other/bg-head.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        // TODO background-size: cover;
        padding: 90px 0 30px 0;
    }
    
    #other-inner > h1 {
        color: #FFF;
        display: inline-block;
        font-size: 48px;
        line-height: 48px;
        margin: 0 30px 30px 20px;
        padding-right: 30px;
    }
    
    #other-text {
        background-color: #FFF;
        border: @honey-border;
        border-radius: @border-radius-base;
    }
}