///////////////////////////////////////////////////////////////////////////////
// Bootstrap: load
///////////////////////////////////////////////////////////////////////////////
@import "node_modules/bootstrap/less/variables";
@import "node_modules/bootstrap/less/mixins";

@import "node_modules/bootstrap/less/normalize";

@import "node_modules/bootstrap/less/scaffolding";
@import "node_modules/bootstrap/less/type";
@import "node_modules/bootstrap/less/grid";
@import "node_modules/bootstrap/less/forms";
@import "node_modules/bootstrap/less/buttons";

@import "node_modules/bootstrap/less/component-animations";
@import "node_modules/bootstrap/less/navs";
@import "node_modules/bootstrap/less/navbar";
@import "node_modules/bootstrap/less/responsive-embed";

@import "node_modules/bootstrap/less/utilities";
@import "node_modules/bootstrap/less/responsive-utilities";


///////////////////////////////////////////////////////////////////////////////
// Bootstrap: config
///////////////////////////////////////////////////////////////////////////////
@link-hover-color: @honey-link;
@link-hover-decoration: none;

@font-family-base: @l10n-font-family;
@font-size-base: @base-font-2;
@line-height-base: 1.5;

@headings-font-weight: 400;
@headings-line-height: @line-height-base;
@headings-color: #5A5961;

@input-border-focus: #FFF;

@grid-gutter-width: 60px;

@navbar-height: 60px;
@navbar-margin-bottom: 0;

@navbar-default-border: #FFF;
@navbar-default-link-color: #FFF;
@navbar-default-link-hover-color: @honey-link-alt;
@navbar-default-link-active-color: @honey-link-alt;
@navbar-default-link-active-bg: transparent;
@navbar-default-toggle-hover-bg: @honey-color-light;
@navbar-default-toggle-icon-bar-bg: #FFF;
@navbar-default-toggle-border-color: transparent;

@nav-link-padding: @navbar-padding-horizontal;

@hr-border: @honey-border-color;


///////////////////////////////////////////////////////////////////////////////
// Global: config
///////////////////////////////////////////////////////////////////////////////
@base-font-1: 20px;
@base-font-2: 16px;
@base-font-3: 12px;

@make-font-1: 70px;
@make-font-2: 60px;
@make-font-3: 40px;
@make-font-4: 30px;

@buzzvil-black: #404041;
@buzzvil-black-light: lighten(@buzzvil-black, 10%);
@buzzvil-color: #B50007;

@honey-background: #F5F5F5;
@honey-border-color: #D8D1D1;
@honey-border: 1px solid @honey-border-color;
@honey-color: #FECC25;
@honey-color-light: lighten(@honey-color, 10%);
@honey-link: #FF960D;
@honey-link-alt: #FFEA00;


///////////////////////////////////////////////////////////////////////////////
// Global: elements
///////////////////////////////////////////////////////////////////////////////
a {
    color: inherit;
    
    .transition(~"color 100ms");
}

address {
    margin: 0;
    
    & > p {
        margin-bottom: 15px;
        
        & img {
            margin-bottom: 1px;
            vertical-align: middle;
        }
        
        & a {
            margin: 0 15px 0 5px;
        }
    }
    
    & > .embed-responsive {
        border: @honey-border;
        height: 300px;
    }
}

body {
    position: relative;
    text-rendering: optimizelegibility;
}

img {
    vertical-align: top;
}


///////////////////////////////////////////////////////////////////////////////
// Global: classes
///////////////////////////////////////////////////////////////////////////////
.background-pic(@file; @pos; @size) {
    -ms-behavior: url("@{i}backgroundsize.htc");
    background-image: url(@file);
    background-position: center @pos;
    background-repeat: no-repeat;
    background-size: cover;
    height: @size;
}

.bg-gray {
    background-color: @honey-background;
}

.blip {
    background-color: @honey-color;
    border-radius: @border-radius-base;
    height: 3px;
    width: 30px;
    
    .center-block();
}

.break-force > span {
    display: block;
    
    &:after {
        content: "\00A0";
    }
}

.btn-frame {
    background-color: transparent;
    border: 3px solid #FFF;
    border-radius: @border-radius-base;
    color: #FFF;
    
    .transition(~"background-color 100ms");
    
    &:hover,
    &:focus,
    &:active {
        background-color: #AAA;
        background-color: rgba(255, 255, 255, 0.30);
        color: #FFF;
    }
}

.container-fluid {
    max-width: @container-lg;
}

.ic {
    -ms-behavior: url("@{i}backgroundsize.htc");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.ic-logo {
    background-image: data-uri("@{f}lg-honeyscreen.png");
    background-size: 221px 22px;
    height: 60px;
    width: 281px;
}

.ic-social-facebook {
    background-image: data-uri("@{f}ic-social-facebook.png");
    background-size: 20px 23px;
}

.ic-social-twitter {
    background-image: data-uri("@{f}ic-social-twitter.png");
    background-size: 20px 23px;
}

.ic-social-blog {
    background-image: data-uri("@{f}ic-social-blog.png");
    background-size: 20px 23px;
}

.make-font(@min; @max; @i: 0) when (@i =< 6) {
    @media (min-width: (@screen-sm-min + (72 * @i))) {
        font-size: @min + ceil(((@max - @min) / 6) * @i);
    }
    
    .make-font(@min; @max; (@i + 1));
}

.make-font-1 { .make-font(floor(@make-font-1 * 0.70); @make-font-1); }
.make-font-2 { .make-font(floor(@make-font-2 * 0.70); @make-font-2); }
.make-font-3 { .make-font(floor(@make-font-3 * 0.70); @make-font-3); }
.make-font-4 { .make-font(floor(@make-font-4 * 0.70); @make-font-4); }

@media (max-width: @screen-xs-max) {
    .break-maybe > span:after {
        content: " ";
    }
    
    .break-small > span {
        display: block;
    }
    
    .btn-frame-big {
        padding: 10px 0;
        width: 100%;
    }
    
    .btn-frame-outer {
        display: inline-block;
        padding: 0 (@grid-gutter-width / 2);
        width: 50%;
    }
    
    .gradient-1 {
        #gradient > .vertical(@honey-color; #FFE56A);
    }
    
    .gradient-2 {
        #gradient > .vertical(#FFE56A; @honey-color);
    }
}

@media (min-width: @screen-sm-min) {
    .break-maybe > span {
        display: block;
    }
    
    .btn-frame-big {
        font-size: 23px;
        line-height: 23px;
        padding: 15px;
        width: 200px;
    }
    
    .btn-frame-outer {
        display: inline-block;
        padding: 0 30px;
    }
}


///////////////////////////////////////////////////////////////////////////////
// Global: header
///////////////////////////////////////////////////////////////////////////////
.navbar-text > a {
    .transition(~"opacity 100ms");
    
    &:hover,
    &:focus {
        .opacity(0.70);
    }
}

@media (max-width: @screen-xs-max) {
    .navbar {
        background-color: @honey-color;
        border-bottom: 1px solid #FFF;
    }
    
    .navbar-dark {
        background-color: @buzzvil-black;
        
        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background-color: @buzzvil-black-light;
        }
    }
    
    .navbar-brand {
        margin: 0 -30px 0 -10px;
    }
    
    .navbar-toggle {
        margin-right: 9px;
    }
    
    .navbar-nav {
        float: left;
        margin-left: -40px;
    }
    
    .navbar-text {
        float: right;
        margin: 12px -22px 0 0;
        width: 44px;
        
        > a {
            height: 44px;
            width: 44px;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .navbar {
        background-color: transparent;
        border: none;
        position: absolute;
        width: 100%;
    }
    
    .navbar-nav > li > a {
        padding: 18px 10px;
    }
    
    .navbar-text {
        margin: 0 -5px 0 5px;
        
        > a {
            height: 60px;
            width: 30px;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Global: footer
///////////////////////////////////////////////////////////////////////////////
footer {
    background-color: @buzzvil-black;
    color: #FFF;
    font-size: @base-font-3;
    text-align: center;
}

footer > nav > ul {
    margin: 0;
    padding: 0;
    
    > li {
        display: inline-block;
        margin: 19px 15px 20px 15px;
        
        &.first-child {
            margin-left: 0;
        }
        
        &.last-child {
            margin-right: 0;
        }
        
        > a:hover,
        > a:focus {
            color: @honey-link-alt;
        }
    }
}

@media (max-width: @screen-xs-max) {
    footer > nav > ul.last-child {
        margin-top: -20px;
    }
}

@media (min-width: @screen-sm-min) {
    footer > nav > ul {
        &.first-child {
            float: left;
        }
        
        &.last-child {
            float: right;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Index
///////////////////////////////////////////////////////////////////////////////
#index-intro,
#index-outro {
    & h1,
    & h2,
    & p {
        color: #FFF;
    }
}

#index-outro {
    text-align: center;
}

@media (max-width: @screen-xs-max) {
    #index-intro {
        text-align: center;
        
        h1 {
            margin: 15px 0;
        }
        
        p {
            font-size: @base-font-1;
            margin: 15px 0;
        }
        
        img {
            display: inline-block;
            margin: 30px 0;
        }
    }
    
    #index-download {
        margin: 0 -5px;
        
        > a {
            box-sizing: border-box;
            display: inline-block;
            padding: 0 10px;
            max-width: 50%;
        }
    }
    
    #index-outro {
        padding-bottom: 130px;
        
        > h2 {
            margin: 30px 0 20px 0;
            padding-bottom: 20px;
        }
        
        > p {
            font-size: @base-font-1;
            margin: 0;
        }
    }
}

@media (min-width: @screen-sm-min) {
    #index-intro-outer {
        padding-top: 60px;
        
        .background-pic("@{i}index/bg-head-v2.jpg"; top; 700px);
    }
    
    #index-intro {
        & h1 {
            margin: 145px 0 30px 0;
        }
        
        & p {
            margin: 0;
        }
        
        & img {
            float: right;
            margin: 80px 0;
        }
    }
    
    #index-download > a {
        display: inline-block;
        
        &:first-child {
            margin-right: 60px;
        }
    }
    
    #index-content-txt,
    #index-points-txt1,
    #index-points-txt2 {
        & h1 {
            border-bottom: 3px solid @honey-color;
            display: inline-block;
            margin: 30px 0 15px 0;
            padding-bottom: 15px;
        }
        
        & h2 {
            font-size: @base-font-2;
            margin: 0 0 15px 0;
        }
    }
    
    #index-content-img > img {
        float: right;
        margin: 60px 0;
    }
    
    #index-content-txt > img {
        display: block;
        margin-top: 180px;
    }
    
    #index-points-txt1 {
        text-align: right;
        
        & > img {
            margin-top: 120px;
        }
    }
    
    #index-points-img {
        margin: 60px 0;
    }
    
    #index-points-txt2 {
        & > img {
            margin-top: 240px;
        }
        
        & > div > img + img {
            margin-left: 30px;
        }
    }
    
    #index-outro-outer {
        .background-pic("@{i}index/bg-foot.jpg"; bottom; 700px);
    }
    
    #index-outro {
        & > .blip {
            margin-top: 60px;
        }
        
        & > p {
            margin: 0;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Support
///////////////////////////////////////////////////////////////////////////////
#support-search {
    .box-shadow(none);
    .input-size(60px; 0; 20px; @base-font-1; @line-height-base; 0);
    .transition(~"border-color 100ms");
}

#support-buttons a {
    display: block;
    padding: 5px 0;
}

#support-faqs > div {
    border-top: 1px solid @honey-background;
    overflow: hidden;
    
    &:first-child,
    &.first-child {
        border: none;
    }
    
    & > a {
        cursor: pointer;
        display: block;
    }
}

@media (max-width: @screen-xs-max) {
    #support-intro {
        text-align: center;
        
        & > section {
            padding: 0;
        }
        
        & h1 {
            color: #FFF;
            margin: 20px 0;
        }
    }
    
    #support-search {
        border: none;
        
        .placeholder(@honey-border-color);
    }
    
    #support-buttons {
        font-size: @base-font-3;
        padding: 10px;
        
        & > div {
            padding: 10px;
        }
    }
    
    #support-faqs p,
    #support-faqs a {
        padding: 20px;
    }
    
    #support-contact {
        color: #FFF;
        padding: 20px 0;
        text-align: center;
    }
}

@media (min-width: @screen-sm-min) {
    #support-intro {
        padding-top: 180px;
        text-align: center;
        
        .background-pic("@{i}support/bg-head-v2.jpg"; top; 700px);
        
        & h1 {
            color: #FFF;
            margin: 15px 0 45px 0;
        }
    }
    
    #support-search {
        .btn-frame() !important;
        .placeholder(#FFF);
    }
    
    #support-buttons {
        margin: 30px -15px 0 -15px;
        
        & > div {
            padding: 0 15px;
        }
    }
    
    #support-faqs {
        & a {
            padding: 30px;
        }
        
        & p {
            margin: 30px auto;
        }
    }
    
    #support-contact {
        text-align: center;
        
        .background-pic("@{i}support/bg-foot.jpg"; bottom; 263px);
        
        & p {
            color: #FFF;
            margin: 45px 0;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Advertise
///////////////////////////////////////////////////////////////////////////////
#advertise-intro {
    text-align: center;
}

#advertise-benefits-list > div {
    display: table;
    
    & > div {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

#advertise-cpm {
    text-align: center;
    
    & img {
        .img-responsive(inline-block);
    }
}

@media (max-width: @screen-xs-max) {
    #advertise-intro {
        padding: 30px;
        
        & > h2 {
            color: #FFF;
            font-size: 24px;
            margin: 0;
        }
        
        & > h1 {
            color: #FFF;
            font-size: 36px;
            margin: 15px 0 30px 0;
        }
    }
    
    #advertise-benefits,
    #advertise-cpm,
    #advertise-cpa,
    #advertise-partners,
    #advertise-contact {
        padding: 20px;
        
        & h1 {
            color: @honey-color;
            font-size: 24px;
            margin: 5px 0 10px 0;
            text-align: center;
        }
        
        & h2,
        & h3 {
            font-size: @base-font-2;
            margin: 0;
            text-align: center;
        }
        
        & .row {
            margin: 0 -10px;
            
            & > div {
                padding: 0 10px;
            }
        }
    }
    
    #advertise-benefits-frame > img {
        .center-block();
    }
    
    #advertise-benefits-list {
        & > div {
            margin-top: 20px;
            
            & > img {
                margin-right: 10px;
            }
        }
        
        h2 {
            text-align: left;
        }
        
        h3 {
            text-align: left;
        }
    }
    
    #advertise-cpm img {
        margin: 10px 0;
    }
    
    #advertise-partners img {
        margin-top: 20px;
    }
}

@media (min-width: @screen-sm-min) {
    #advertise-intro-outer {
        .background-pic("@{i}advertise/bg-head-v2.jpg"; top; 700px);
    }
    
    #advertise-intro {
        padding-top: 180px;
        
        > h2 {
            color: #FFF;
            margin: 30px 0 0 0;
        }
        
        > h1 {
            color: #FFF;
            margin: 15px 0 60px 0;
        }
    }
    
    #advertise-benefits,
    #advertise-cpm,
    #advertise-cpa,
    #advertise-partners,
    #advertise-contact {
        & > .blip {
            margin-top: 60px;
        }
        
        & > h1 {
            color: @honey-color;
            margin: 15px 0 45px 0;
            text-align: center;
        }
    }
    
    #advertise-benefits-frame {
        display: inline-block;
        width: 29%;
    }
    
    #advertise-benefits-list {
        display: inline-block;
        vertical-align: top;
        width: 71%;
        
        & > div {
            margin: 15px 0 30px 0;
            
            & > img {
                margin: 0 15px 0 45px;
            }
        }
        
        & h2 {
            margin: 0;
        }
        
        & h3 {
            font-size: @base-font-2;
            margin: 0;
        }
    }
    
    #advertise-cpm {
        & > h2 {
            margin: 0 0 60px 0;
        }
        
        & h3 {
            color: @honey-color;
            margin: 30px 0 60px 0;
        }
    }
    
    #advertise-cpa-outer {
        .background-pic("@{I}advertise/bg-mid-v2.jpg"; center; 755px);
    }
    
    #advertise-cpa {
        text-align: center;
        
        > h2 {
            color: #FFF;
            margin: 0;
        }
        
        > h3 {
            color: #FFF;
            margin: 0;
        }
    }
    
    #advertise-partners {
        & > h2 {
            text-align: center;
            margin: 0 0 60px 0;
        }
        
        & img {
            margin-bottom: 60px;
        }
    }
    
    #advertise-contact {
        margin-bottom: 60px;
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: About
///////////////////////////////////////////////////////////////////////////////
#about-intro {
    text-align: center;
    
    > h2 {
        color: #FFF;
        text-transform: uppercase;
    }
}

#about-main {
    > .blip {
        background-color: @buzzvil-color;
    }
    
    > h3 {
        color: @buzzvil-color;
        text-align: center;
    }
}

@media (max-width: @screen-xs-max) {
    #about-intro {
        background-color: @buzzvil-black;
        padding: 30px;
        
        & > h2 {
            font-size: @base-font-1;
            margin: 30px 0;
        }
    }
    
    #about-main {
        padding: 20px;
        
        > .blip {
            margin-bottom: 10px;
        }
        
        > h3 {
            font-size: @base-font-1;
            margin: 0;
        }
        
        & > address > h4 {
            border-top: @honey-border;
            margin: 20px -20px 10px -20px;
            padding: 20px 20px 0 20px;
        }
    }
}

@media (min-width: @screen-sm-min) {
    #about-intro-outer {
        padding-top: 180px;
        
        .background-pic("@{i}about/bg-head.jpg"; top; 700px);
    }
    
    #about-intro > h2 {
        margin: 60px 0;
    }
    
    #about-main {
        padding-top: 60px;
        
        & > h3,
        & > address > h4 {
            margin: 30px 0 0 0;
        }
        
        & > address > .embed-responsive {
            margin-bottom: 60px;
        }
    }
}


///////////////////////////////////////////////////////////////////////////////
// Page: Other
///////////////////////////////////////////////////////////////////////////////
#other-intro h1 {
    color: #FFF;
    margin: 15px 0;
    text-align: center;
}

#other-text {
    & > :first-child {
        margin-top: 0;
    }
    
    & > :last-child {
        margin-bottom: 0;
    }
    
    & .row {
        border-left: @honey-border;
        border-top: @honey-border;
        
        & > div {
            border-bottom: @honey-border;
            border-right: @honey-border;
            padding: 10px;
            text-align: center;
        }
    }
}

@media (max-width: @screen-xs-max) {
    #other-text {
        padding: 20px;
    }
}

@media (min-width: @screen-sm-min) {
    #other-intro {
        padding-top: 180px;
        
        .background-pic("@{i}other/bg-head-v2.jpg"; top; 400px);
    }
    
    #other-text {
        margin: 30px auto;
    }
}