extends global

block config
    - pagePath = "privacy"
    - pageName = [footer.privacy, meta.title]

block content
    div.gradient-1#other-intro: section.container-fluid
        div.blip.hidden-xs
        h1.font-make-1 #{footer.privacy}
        +scroller("other-text")
    
    section.container-fluid#other-text !{privacy}