extends global

block meta
    title #{footer.privacy} | #{meta.title}

block content
    div.gradient-1#other-intro: section.container-fluid
        div.blip.hidden-xs
        h1.make-font-1 #{footer.privacy}
    
    section.container-fluid#other-text !{privacy}