extends global

block meta
    title #{footer.privacy} - #{meta.title}

block content
    div#other-outer: div.container-fluid#other-inner
        h1 #{footer.privacy}
        
        div#other-text !{privacy}