extends global

block meta
    title #{footer.terms} | #{meta.title}

block content
    div#other-outer: div.container-fluid#other-inner
        h1 #{footer.terms}
        
        div#other-text !{terms}