extends global

block config
    - pagePath = "terms"
    - pageName = [footer.terms, meta.title]

block content
    div.gradient-1#other-intro: section.container-fluid
        div.blip.hidden-xs
        h1.font-make-1 #{footer.terms}
        +scroller("other-text")
    
    section.container-fluid#other-text !{markdown.terms}
