extends global

block meta
    title #{footer.terms} | #{meta.title}

block content
    div#other-intro: div.container-fluid
        div.blip.hidden-xs
        h1.make-font-1 #{footer.terms}
    
    div.container-fluid#other-text !{terms}